<div id="<%= dom_id banner %>">
  <p>
    <strong>Name:</strong>
    <%= banner.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= banner.link %>
  </p>
  <div>

    <% if banner.image.attached? %>
      <%= image_tag banner.image , alt: "cover_post", style: "width: 100%; height: 30rem;"%>
    <% end %> 
  </div>

</div>


