<h1>Editing banner</h1>

<%= render "form", admin_banner: @admin_banner %>

<br>

<div>
  <%= link_to "Show this banner", @admin_banner %> |
  <%= link_to "Back to banners", admin_banners_path %>
</div>
