<p style="color: green"><%= notice %></p>

<h1>Banners</h1>

<div id="admin_banners">
  <% @admin_banners.each do |admin_banner| %>
    <%= render admin_banner %>
    <p>
      <%= link_to "Show this banner", admin_banner %>
    </p>
  <% end %>
</div>

<%= link_to "New banner", new_admin_banner_path %>
