<div class="container">
  <h1> Page management</h1>

  <div>
    <p>Users</p>
    <%= button_to 'Users list', admin_users_path , method: "get" , class: "btn btn-primary btn-sm m-2"%>
  </div>

  <div>
    <p>Bannars</p>
    <%= button_to 'Bannar list', admin_banners_path , method: "get" , class: "btn btn-primary btn-sm m-2"%>

  </div>
</div>