<div class="bannar d-flex">

  <div class="container align-self-center">
   <div class=" row">
    <div class="col-5">
        <span ><%= t("global.home.welcome_to_our_company") %></span>
        <h1><%= t("global.home.technology_provider") %></h1>
        <p> <%= t("global.home.goals_company")  %></p>
        <%= link_to t("global.home.discover"), posts_path(post_type: "services"), method: "get", class:"btn btn-primary custom-height"%>
    
    </div>
   
   </div>
 
  </div>
  
</div>